<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Root.master.cs" Inherits="masterPages_Root" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <link type="text/css" rel="stylesheet" href="../_css/main.css" />
    <script type="text/javascript" src="../_js/jquery.js"></script>
    <script type="text/javascript" src="../_js/raphael.js"></script>
</head>
<body>
    <asp:ContentPlaceHolder ID="PageHeader" runat="server"></asp:ContentPlaceHolder>
    <form id="form1" runat="server">
    <div>
        <asp:ContentPlaceHolder id="MainBody" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
