<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <connectionStrings>
    <add name="CONFIG" connectionString="Database=Origin_Main;Server=192.168.145.5\CONFIG;User ID=sa;Password=G10uc35tEr]!;" />
    <add name="UAT" connectionString="Database=Origin_Main;Server=192.168.145.5\UAT;User ID=sa;Password=G10uc35tEr]!;" />
    <add name="PREPROD" connectionString="Database=Origin_Main;Server=192.168.145.5\PREPROD;User ID=sa;Password=G10uc35tEr]!;" />
    <add name="QA" connectionString="Database=Origin_Main;Server=192.168.145.5\QA;User ID=sa;Password=G10uc35tEr]!;" />
    <add name="DEV" connectionString="Database=Origin_Main;Server=192.168.145.5\DEV;User ID=sa;Password=G10uc35tEr]!;" />
    <add name="LIVE" connectionString="Database=Origin_Main;Server=HERMES;Trusted_Connection=True;" />
  </connectionStrings>  

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
